.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.trace {
  position: absolute;
  transform: translateY(-100%);
  line-height: 1.5;
  background: linear-gradient(180deg, white 0%, #c6c6c6 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  &::selection {
    background: red;
  }
}
