.Home {
}

.Home-image {
  width: 130px;
  border-radius: 50%;
  pointer-events: none;
  margin: 30px 30px;
}

.Home-header {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
}

.header-text {
  text-align: left;
  h1, h2, h3 {
    display: inline;
  }
}

.subtitle {
  color: #7a7d81;
}

.container {
  @media only screen and (max-width: 680px) {
    width: 100%;
  }

    margin-left: auto;
    margin-right: auto;
    max-width: 680px;

}

.bg-dark {
  background: #121216;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.mw-450 {
  @media only screen and (min-width: 680px) {
    max-width: 450px;
  }
}

.mobile-hide {
  @media only screen and (max-width: 680px) {
    display: none;
  }
}
