@import url('https://fonts.googleapis.com/css?family=Montserrat:700,500,300|Open+Sans|Source+Code+Pro:700&display=swap');

$color: #666666;
$title-color: #121216;
$code-color: #7a7d81;

$font: 'Open Sans', sans-serif;
$title-font: 'Montserrat', Arial, sans-serif;
$code-font: 'Source Code Pro', Consolas, Menlo, 'Courier New', monospace;

html {
  width: 100%;
}

h1, h2, h3, h4, h5 {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-family: $title-font;
  color: $title-color;
  font-weight: 700;
}

h2 {
  font-family: $title-font;
  font-weight: 300;
}

h3 {
  font-weight: 700;
  font-family: $title-font;
  color: $title-color;
}

h4 {
  font-weight: 500;
  font-family: $title-font;
  color: $title-color;
}


body {
  font-family: 'Open Sans', sans-serif;
  color: $color;
  margin: 0;
  width: 100%;
}


header, section {
  margin-top: 20vh;
  //margin-bottom: 20vh;
}

a {
  color: $title-color;
}

*::-moz-selection {
  color: white;
  background-color: #2F2F2F;
}

*::selection {
  color: white;
  background-color: #2F2F2F;
}

.text-center {
  text-align: center;
}

.m-20 {
  margin-left: 20px;
  margin-right: 20px;
}
