@import url('https://fonts.googleapis.com/css?family=Montserrat:700,500,300|Open+Sans|Source+Code+Pro:700&display=swap');

$color: #434549;
$title-color: #121216;
$code-color: #7a7d81;

$font: 'Open Sans', sans-serif;
$title-font: 'Montserrat', sans-serif;
$code-font: 'Source Code Pro', Consolas, 'Courier New', monospace;

html {
  width: 100%;
}

h1 {
  //font-size: 60px;
  @media only screen and (min-width: 600px) {
    font-size: 60px;
  }
  @media only screen and (max-width: 600px) {
    font-size: 40px;
  }
  margin: 0;
  font-family: $title-font;
  color: $title-color;
  font-weight: 700;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h2 {
  @media only screen and (min-width: 600px) {
    font-size: 20px;
  }
  @media only screen and (max-width: 600px) {
    font-size: 15px;
  }
  font-family: $title-font;
  font-weight: 300;
  letter-spacing: 3px;
  text-transform: uppercase;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h3 {
 font-weight: 700;
  margin: 0;
  font-family: $title-font;
  color: $title-color;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h4 {
  font-size: 30px;
  font-weight: 500;
  margin: 0;
  font-family: $title-font;
  color: $title-color;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


body {
  font-family: 'Open Sans', sans-serif;
  color: $color;
  margin: 0;
  width: 100%;
}

p {
  margin-top: 6px;
  margin-bottom: 24px;
  font-size: 14px;
}

code {
  font-size: 12px;
  color: $code-color;
  font-family: $code-font;
  display: block;
}

header, section {
  margin-top: 20vh;
  //margin-bottom: 20vh;
}

a {
  color: $color;
}

.text-center {
  text-align: center;
}

.m-20 {
  margin-left: 20px;
  margin-right: 20px;
}
